  font: 15px/1.5 'UKIJ tuz tom', 'Alpida Unicode System', 'Alkatip tor', 'Microsoft Uighur', Tahoma, Helvetica, 'SimSun', sans-serif;
  color: #444;
  word-break: keep-all;
  padding: 0;
  zoom: 1;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 40px;
  background: url(../../template/dz_img/toptb.png);
}

#topbelt {
  margin-bottom: 44px;
}

#topbelt {
  direction: rtl;
  font: 15px/1.5 'UKIJ tuz tom', 'Alpida Unicode System', 'Alkatip tor', 'Microsoft Uighur', Tahoma, Helvetica, 'SimSun', sans-serif;
  color: #444;
  word-break: keep-all;
  padding: 0;
  zoom: 1;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 40px;
  background: url(../../template/dz_img/toptb.png);
  margin-bottom: 44px;
}

.eis_wp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  #topbelt {
  height: 100%;
  padding: 0 16px;
}

.z, .y {
  display: flex;
  align-items: center;
}

.pipe, .eis_tpipe {
  margin: 0 4px;
  color: #888;
}
